body {
  background-color: #dee1e7;
  padding: 4rem;
}

body #header {
  background-color: #f2d5c8;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px 5px 0 0;
}

body #header h1 {
  text-transform: uppercase;
}

body #header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #header nav li {
  text-decoration: none;
  list-style-type: none;
  padding: 0 1rem;
  font-size: 1.4rem;
}

body #header nav li a {
  text-decoration: none;
  color: inherit;
}

body #header nav li a:hover {
  text-decoration: underline;
  font-size: 1.5rem;
}

body #header div.account_nav {
  width: 100px;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

body #header div.account_nav span {
  position: absolute;
  top: -17px;
  right: 27px;
  width: 20px;
  height: 20px;
  padding: 0px 6px;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
}

body main#main {
  background-color: #f2d5c8;
}

body main#main section#product_advertisement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main#main section#product_advertisement .background-img-header {
  background-image: url(assets/img/main-img.png);
  background-position: -65px -99px;
  width: 395px;
  height: 342px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
}

body main#main section#product_advertisement h1 {
  font-size: 6rem;
  color: #463232;
  margin-bottom: 10px;
}

body main#main section#product_advertisement div.product_notif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 60px 120px;
  position: relative;
}

body main#main section#product_advertisement div.product_notif div.product_describe {
  width: 30%;
}

body main#main section#product_advertisement div.product_notif div.product_describe p {
  font-size: 1.4rem;
  padding-bottom: 25px;
}

body main#main section#product_advertisement div.product_notif div.product_describe form.search_product {
  background-color: #fff;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main#main section#product_advertisement div.product_notif div.product_describe form.search_product input[type=text] {
  outline: none;
  border: 0;
  width: 100%;
  padding: 5px;
  font-family: inherit;
}

body main#main section#product_advertisement div.product_notif div.product_describe form.search_product input[type=submit], body main#main section#product_advertisement div.product_notif div.product_describe form.search_product .header_search_button {
  border: 0;
  background: none;
  outline: 0;
  background-color: #463232;
  color: #fff;
  padding: 5px;
}

body main#main section#product_advertisement div.product_notif div.product_describe button.top_search {
  text-transform: uppercase;
  background-color: #463232;
  color: #d6cecf;
  margin: 20px 0;
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.3rem;
  -webkit-box-shadow: 0px 40px 90px #463232e3;
          box-shadow: 0px 40px 90px #463232e3;
}

body main#main section#product_advertisement div.product_notif div.product_describe button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body main#main section#product_advertisement div.product_notif div.product_pointer {
  position: absolute;
  right: 0;
  width: 40%;
  padding: 30px;
  top: 145px;
}

body main#main section#product_advertisement div.product_notif div.product_pointer span.pointer {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cd6b3cbd;
  border-radius: 50%;
  position: absolute;
  left: -79px;
  top: 11px;
  color: #fff;
  font-size: 1.4rem;
}

body main#main section#product_advertisement div.product_notif div.product_pointer span.line {
  width: 44px;
  border-bottom: 2px solid #000;
  height: 1px;
  position: absolute;
  left: -20px;
  top: 34px;
}

body main#main section#product_advertisement div.product_notif div.product_pointer h6 {
  font-size: 1.2rem;
}

body main#main section#product_advertisement div.product_notif div.product_pointer p {
  font-size: 1.2rem;
  width: 40%;
}

body main#main section#product_advertisement div.product_notif div.product_pointer span.tooltip {
  visibility: hidden;
  top: -66px;
  position: absolute;
  width: 120px;
  padding: 15px 0;
  left: -110px;
  background: #ffd7a3;
  text-align: center;
  color: black;
  font-size: 1.4rem;
}

body main#main section#product_advertisement div.product_notif div.product_pointer p.tooltip_p {
  width: 100%;
}

body main#main section#product_advertisement div.product_notif div.product_pointer:hover span.tooltip {
  visibility: visible;
  top: -40px;
  position: absolute;
  width: 120px;
  left: -110px;
  background: #ffd7a3;
}

body main#main section#lenders {
  background-color: #fef6f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main#main section#lenders h3 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 400;
  margin: 20px 0;
}

body main#main section#lenders div.lenders_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 15px 0;
}

body main#main section#lenders div.lenders_logo div {
  background-image: url(assets/img/main-img.png);
  width: 90px;
  height: 25px;
}

body main#main section#lenders div.lenders_logo div.chase_image {
  background-position: 358px -390px;
}

body main#main section#lenders div.lenders_logo div.asana_image {
  background-position: 461px -416px;
}

body main#main section#lenders div.lenders_logo div.google_image {
  background-position: 358px -420px;
}

body main#main section#lenders div.lenders_logo div.buzzfeed_image {
  background-position: 256px -359px;
}

body main#main section#lenders div.lenders_logo div.toogle_image {
  background-position: 257px -395px;
}

body main#main section#lenders div.lenders_logo div.walmart_image {
  background-position: 357px -359px;
}

body main#main section#about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 60px 120px;
  padding-bottom: 0;
  background-color: #fff;
}

body main#main section#about_us .about_us_product {
  width: 50%;
  padding: 25px;
}

body main#main section#about_us .about_us_product h3 {
  font-size: 7rem;
  color: #453332;
  font-weight: 400;
}

body main#main section#about_us .about_us_product p {
  font-size: 1.7rem;
  color: #999999;
}

body main#main section#about_us .about_us_product button {
  border: 0;
  text-transform: uppercase;
  background-color: #463232;
  color: #d6cecf;
  margin: 20px 0;
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.3rem;
  -webkit-box-shadow: 0px 40px 90px #463232e3;
          box-shadow: 0px 40px 90px #463232e3;
  font-weight: 800;
}

body main#main section#about_us .about_us_product button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

body main#main section#about_us .about_us_product img {
  width: 100%;
  margin: 35px 0;
}

body main#main section#about_us .about_us_product .about_us_product_img {
  background-image: url(assets/img/main-img.png);
  width: 100%;
  height: 320px;
  background-position: -1034px 0;
}

body main#main section#about_us .about_us_info {
  width: 50%;
  padding: 25px;
}

body main#main section#about_us .about_us_info .about_us_info_img {
  background-image: url(assets/img/main-img.png);
  width: 100%;
  height: 270px;
  background-position: -566px 0;
}

body main#main section#about_us .about_us_info img {
  width: 100%;
}

body main#main section#about_us .about_us_info p {
  font-size: 1.5rem;
  color: #999999;
  margin: 20px 0;
}

body main#main section#about_us .about_us_info button {
  border: 1px solid #463232;
  padding: 12px 40px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
}

body main#main section#about_us .about_us_info button:hover {
  background-color: #efefef;
  cursor: pointer;
}

body main#main section#product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 60px 120px;
}

body main#main section#product h3 {
  font-size: 7rem;
  font-weight: 500;
  margin: 20px 0;
  color: #453332;
}

body main#main section#product p {
  font-size: 1.4rem;
  margin: 20px 0 0 0;
  color: #999999;
}

body main#main section#product div.product_showing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  margin: 25px 0;
}

body main#main section#product div.product_showing div.product_left, body main#main section#product div.product_showing div.product_right {
  width: 50%;
  padding: 25px;
}

body main#main section#product div.product_showing div.product_left .product_left_img, body main#main section#product div.product_showing div.product_right .product_left_img {
  background-image: url(assets/img/main-img.png);
  width: 100%;
  height: 320px;
  background-position: 467px -31px;
}

body main#main section#product div.product_showing div.product_left img, body main#main section#product div.product_showing div.product_right img {
  width: 100%;
  height: 340px;
}

body main#main section#product div.product_showing div.product_left h4, body main#main section#product div.product_showing div.product_right h4 {
  font-size: 4rem;
  color: #463232;
}

body main#main section#product div.product_showing div.product_left div.product_detail, body main#main section#product div.product_showing div.product_right div.product_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

body main#main section#product div.product_showing div.product_left div.product_detail .organic_products, body main#main section#product div.product_showing div.product_left div.product_detail .yearly_sales, body main#main section#product div.product_showing div.product_left div.product_detail .happy_customrs, body main#main section#product div.product_showing div.product_right div.product_detail .organic_products, body main#main section#product div.product_showing div.product_right div.product_detail .yearly_sales, body main#main section#product div.product_showing div.product_right div.product_detail .happy_customrs {
  width: 30%;
}

body main#main section#product div.product_showing div.product_left div.product_detail .organic_products span:first-child, body main#main section#product div.product_showing div.product_left div.product_detail .yearly_sales span:first-child, body main#main section#product div.product_showing div.product_left div.product_detail .happy_customrs span:first-child, body main#main section#product div.product_showing div.product_right div.product_detail .organic_products span:first-child, body main#main section#product div.product_showing div.product_right div.product_detail .yearly_sales span:first-child, body main#main section#product div.product_showing div.product_right div.product_detail .happy_customrs span:first-child {
  color: #295c68;
  display: table;
  border-bottom: 2px solid #453332;
  font-size: 2.4rem;
}

body main#main section#product div.product_showing div.product_left div.product_detail .organic_products span:last-child, body main#main section#product div.product_showing div.product_left div.product_detail .yearly_sales span:last-child, body main#main section#product div.product_showing div.product_left div.product_detail .happy_customrs span:last-child, body main#main section#product div.product_showing div.product_right div.product_detail .organic_products span:last-child, body main#main section#product div.product_showing div.product_right div.product_detail .yearly_sales span:last-child, body main#main section#product div.product_showing div.product_right div.product_detail .happy_customrs span:last-child {
  color: #999999;
  margin: 7px 2px;
  display: inline-block;
  font-size: 1.4rem;
}

body main#main section#product div.product_showing div.product_left .card_button, body main#main section#product div.product_showing div.product_right .card_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main#main section#product div.product_showing div.product_left .card_button button:first-child, body main#main section#product div.product_showing div.product_left .card_button button:last-child, body main#main section#product div.product_showing div.product_right .card_button button:first-child, body main#main section#product div.product_showing div.product_right .card_button button:last-child {
  border: none;
  background-color: #463232;
  text-transform: uppercase;
  padding: 14px 35px;
  margin: 5px 15px 5px 0;
  color: #d6cecf;
  font-weight: 700;
}

body main#main section#product div.product_showing div.product_left .card_button button:last-child, body main#main section#product div.product_showing div.product_right .card_button button:last-child {
  background-color: transparent;
  color: #453332;
  border: 1px solid #453332;
}

body main#main section#product div.product_showing div.product_right {
  padding: 25px;
  width: 50%;
}

body main#main section#product div.product_showing div.product_right .product_right_img {
  background-image: url(assets/img/main-img.png);
  width: 100%;
  height: 320px;
  background-position: 1410px -298px;
}

body main#main section#product div.product_showing div.product_right img {
  width: 100%;
}

body main#main section#product_st {
  background-color: #fffbf7;
  width: 100%;
}

body main#main section#product_st div.product_statistics {
  padding: 60px 120px;
}

body main#main section#product_st div.product_statistics ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main#main section#product_st div.product_statistics ul li {
  list-style: none;
  font-size: 2rem;
  border-right: 2px solid #463232;
  padding: 15px 25px;
}

body main#main section#product_st div.product_statistics ul li span {
  display: block;
  text-align: center;
}

body main#main section#product_st div.product_statistics ul li span:first-child {
  font-weight: 600;
  padding-bottom: 10px;
}

body main#main section#product_st div.product_statistics ul li:last-child {
  border: none;
}

body main#main section#best_taste {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 60px 120px;
  background-color: #fff;
}

body main#main section#best_taste div.taste_image {
  width: 50%;
  padding: 25px;
}

body main#main section#best_taste div.taste_image .taste_product_img {
  background-image: url(assets/img/main-img.png);
  width: 100%;
  height: 340px;
  background-position: -566px -285px;
  -webkit-box-shadow: -20px 22px 1px #eee;
          box-shadow: -20px 22px 1px #eee;
}

body main#main section#best_taste div.taste_info {
  width: 50%;
  padding: 25px;
}

body main#main section#best_taste div.taste_info h3 {
  font-size: 6rem;
  font-weight: 400;
  color: #463232;
}

body main#main section#best_taste div.taste_info p {
  font-size: 1.3rem;
  color: #999999;
  margin: 15px 0;
}

body main#main section#best_taste div.taste_info button {
  border: 0;
  border: 0;
  text-transform: uppercase;
  background-color: #463232;
  color: #d6cecf;
  margin: 20px 0;
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.3rem;
  -webkit-box-shadow: 0px 40px 90px #463232e3;
          box-shadow: 0px 40px 90px #463232e3;
  font-weight: 800;
}

body main#main section#best_taste div.taste_info button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

body main#main section#customer_comment {
  padding: 60px 120px;
  background-color: #fffbf7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body main#main section#customer_comment h4 {
  font-size: 6rem;
  text-align: center;
  font-weight: 400;
  width: 60%;
  color: #463232;
}

body main#main section#customer_comment p {
  width: 60%;
  font-size: 1.4rem;
  color: #999999;
  font-weight: 400;
  margin: 15px 0;
}

body main#main section#customer_comment .customers_comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 15px 0;
}

body main#main section#customer_comment .customers_comments .client_comment {
  margin: 10px;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
}

body main#main section#customer_comment .customers_comments .client_comment span:first-child {
  color: #fd8d76;
}

body main#main section#customer_comment .customers_comments .client_comment img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

body main#main section#customer_comment .customers_comments .client_comment div.customer_image {
  position: relative;
}

body main#main section#customer_comment .customers_comments .client_comment div.customer_image .customer_product_image {
  background-image: url(assets/img/main-img.png);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-position: 465px -360px;
}

body main#main section#customer_comment .customers_comments .client_comment div.customer_image span {
  position: absolute;
  font-size: 1.4rem;
  top: 8px;
  left: 50px;
}

body main#main section#customer_comment .customers_comments .client_comment div.customer_image span:last-child {
  position: absolute;
  font-size: 1.4rem;
  top: 25px;
  left: 50px;
  font-weight: 300;
}

body main#main section#customer_comment .customers_comments div.client_comment:hover {
  -webkit-box-shadow: 0px 0px 10px #00000054;
          box-shadow: 0px 0px 10px #00000054;
  border-radius: 7px;
}

body main#main section#customer_comment div.navi_point {
  position: absolute;
  right: 144px;
  top: 273px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  background: transparent;
}

body main#main section#customer_comment div.navi_point span {
  padding: 8px 12px;
  border: 2px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
}

body main#main section#customer_comment div.navi_point span:hover {
  border: 2px solid #463232;
  background-color: #463232;
  color: #fff;
}

body main#main footer#footer {
  width: 100%;
  padding: 60px 120px;
  background-color: #fff;
}

body main#main footer#footer div.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main#main footer#footer div.footer_links h4 {
  font-size: 3rem;
  font-weight: 400;
}

body main#main footer#footer div.footer_links p {
  color: #999999;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 20px 0;
}

body main#main footer#footer div.footer_links h4 {
  font-weight: 400;
  font-size: 2rem;
}

body main#main footer#footer div.footer_links ul {
  list-style: none;
  margin: 10px 0;
}

body main#main footer#footer div.footer_links ul li {
  padding: 15px 0 0 0;
  font-size: 1.4rem;
  color: #999999;
}

body main#main footer#footer div.footer_links ul li a {
  text-decoration: none;
  color: inherit;
}

body main#main footer#footer div.footer_links ul li a:hover {
  text-decoration: underline;
  color: #464646;
}

body main#main footer#footer div.footer_links div:first-child {
  width: 22%;
}

body main#main footer#footer div.footer_social {
  padding: 15px 0;
  border-bottom: 1px solid gray;
}

body main#main footer#footer div.footer_social span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
  padding: 7px 11px;
  margin-right: 3px;
  color: #fff;
  background: #453130;
  font-size: 1.8rem;
}

body main#main footer#footer div.footer_copyright {
  text-align: center;
  padding: 25px 0;
  font-size: 1.6rem;
  color: #999999;
}

body span.sticky_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 245px;
  right: 76px;
  width: 20px;
  height: 60px;
  font-size: 1.4rem;
}
/*# sourceMappingURL=style.css.map */