@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;800&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms;
}
html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    min-height: 100vh;
 }